&usart2 {
    current-speed = <9600>;
};
/ {
    aliases {
        led1 = &custom_led1;
        led2 = &custom_led2;
    };

    leds {
        compatible = "gpio-leds";        

        custom_led1: custom_led1 {
            label = "External LED1";
            gpios = <&gpioa 4 0>;
        };        
        custom_led2: custom_led2 {
            label = "External LED2";
            gpios = <&gpioa 6 0>;
        };        
    };
};